@import url(./components/design/css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App{
  background-color: var(--background--default);
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 100%;
  box-sizing: content-box;
  overflow: auto;
  min-height: 100vh;

}


*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
  text-decoration: none; 
  font-family: 'Jua', sans-serif;

}
a{
  text-decoration: none;
}
a:visited,
a:hover,
a:active{
  text-decoration: none;
  color:var(--color--text--default);
}
